<!DOCTYPE html>
<html>
<body>

<pre>
  Below is feedback from your classes plus a few mentions in the overall "What was the most helpful part of MIP for you?" from 2011-2015.

  2011:
  Most helpful part of MIP:
  Alexandra Wells' teachings will stick with me forever, as well as allowing/embracing the discomfort within improvisation to help enable more possibilities.

  Keep your "hip in the house" from Alexandra! I will always keep the notion with me that dance is always changing and this art form has infinite possibilies. I feel as though I have many tricks in the bag to pull out while improvising but also I learned to listen to my body and not my mind.

  Alexandra Well's class:
  So clear on the way she teaches and infect us her positivism, and inspire us to take a chance even in Ballet is possible.
  Awesome class. Loved it
  Your ballet class was my favorite I have ever taken and I love how you care so much for the well being of students as unique individuals.
  I loved going back to the basics of ballet class and really working on alignment and opposition directional pull. Thanks!
  really liked her approach to ballet, so different then what i'm used too! Made me moove bigger and more efficiently.
  I love Alexandra. So positive and so helpful. I really liked re-exploring image technique.
  Wonderful, solid technique class without judgement or negativity- so refreshing and informative.
  First positive ballet class I've ever had.
  Never change Alexandra. You've forever changed my dancing and I am eternally thankful.
  Amazing classes, very useful information that I have already started to apply to my training.
  Amazing approach. Learned so many things I had never thought of.
  Your approach to ballet technique really clicks with me and I felt that I was making improvement. Personally, I would have liked to have ballet in the third week as well.
  Great class, would like to have them on the 3rd week
  You are perfect. Don't change a thing.
  I liked that we kept to the basics and really focused on doing things right before moving onto the next thing.
  wonderful teacher with a unique approach to ballet!

  2012:
  Most helpful:
  There was a lot of helpful information. The most helpful information to me would be: The image tech from ballet, The liquid joints and expansion, Moving without judgement of myself, How to explore myself internally and make connections, Ways to strengthen my body and mind and build endurance, A sense of community, Surprising myself, Honesty, Doing things without hesitation and taking risks, How to move 3 dimensional, How to wake my body up and prepare it for class, and all of the creative tools given to me by each faculty member that will help me in my dance career.

  Alexandra Wells' class:
  Amazing support and clarity within instruction
  The imagery has completely changed (in a great way) how I take ballet.
  Loved every idea and second!
  Her visuals and image tech at the beginning of class really helped me with being more relaxed in class and getting rid of unnecessary tension rather than griping and forcing steps. I learned to breathe better and move within my limits but still be able to push them. Her classes also helped me with avoiding injury and knowing what feels right. She gave me the tools to clean up my technique and on a somatic level be aware of what is going on in my body
  Eye opening and wonderful!
  Great imagery and enjoyed the element of experimentation in your class (studio=laboratory)
  excellent! connected immediately to her feedback style. Made me love ballet again!
  Learned a lot, very informative but wished that the pace of the class was faster. I enjoyed/grew a lot from the technique taught.
  Essential and helpful.
  I loved having ballet in the program and she helps so much with understanding the body and how it functions
  Brilliant imagery--finally a ballet class that I can work in
  An amazing ballet class that got me to do things I never thought I could do, in a different way. Great!
  Probably the kindest and most generous teacher I have ever met. So thoughtful in her comments and corrections, she makes every person in the room feel unique and important.
  your class is wonderful. I love how you focus so much on alignment and visualizations. I would prefer a slightly faster pace sometimes, but I do understand that the slow pace of the class allows for exploration and discovery.
  very helpful... i now understand how to use my body
  She changed the way I look at ballet, and how I take class. I wish we got through a full class every day. Amazing.
  Clear and specific feedback, strong visual images helped me to grasp ideas more clearly, repetition of exercises allowed time to really focus and practice concepts, created really warm and friendly environment in which to work
  100% excellent. More valuable than almost any ballet class I've taken.
  Really enjoyed to have that class! Nothing to complain about!
  She brought new concepts to ballet that changed my view of ballet and I also felt my back in ways I have not before.
  incredible ballet class. all the images are still so clear in my head and i feel like they will stick with me for a very long time. i was on my leg in every class.
  So informative for my mind and body! I could really start to feel my alignment and understand the connection through my whole body. I loved how in depth we went in terms of connecting to the back and through the top of the head-basically using the imagery to assist our technique.
  AWESOME. I have never felt so together in a ballet class my whole life. She have new perspectives, images to think about and the whole class just made me feel prepared. I learned and grew so much in the two short weeks with her. I wish we had her the third week.

  2013
  Alexandra Wells' class:
  Amazing. Tools I will carry with me for the rest of my life
  Alexandra completely changed my perspective of ballet and myself as a mover. She went above and beyond to make every one of us feel cared for - she knew all of our names immediately and always gave one-on-one attention making me feel so welcome and comfortable to explore. She renewed my love for movement and my own individual body, making me realize that I did not have to "change" the way my body physically appears and that I can learn to work with what I have been given and make it just as worthy.
  I valued this class very much. The image tech that began every class was very informative. It allowed me to experience ballet in a whole new mindset. For the first time, I felt as though I was learning ballet specific to my own body rather than what I feel a ballerina should look like. I was continuously learning all week. The only problem with this class is that I feel I did not have enough of it.
  I learned more in her class than I learned all year at school.
  I really appreciated the structure of Ms. Well's classes and the intense focus on driving home an important point. Because we spent lots of time on the same idea, I'm much more likely to be able to confidently take it with me to other classes.
  Excellent- I think she needs to teach more classes next year and have the chance to expand the class curriculum.
  Completely grounded me throughout this process. She gave me a comfortable place to reflect on myself without judgement.
  Extremely helpful and knowledgable
  LOVE. This absolutely changed my life in ballet and all forms of dance, as well as my mentality in class.
  I absolutely loved her class. I've never actually FELT my muscles working so clearly and consistently as I did in this class.The image tech we did before class was extremely helpful and eye opening, and really allowed us to explore and feel our bodies in a similar way that we did in some of the other classes we were taking. I didn't feel like I had to look a certain way, it was more about how I felt while exploring the images she shared with us. Wish I could take this all the time.
  Absolutely amazing! Such a wonderful help and imagery. The way she approached ballet really helped all of us I feel. I truly looked forward to the class everyday.
  I appreciated the straightforward barre exercises and the image/tech is still resonating with me - nice to have some fundamental tools to improve technique
  The image tech helped me tremendously. The tools given in Alexandra's class assisted me in not only ballet, but my other classes as well. She changed the way I work in ballet.
  Ms. Wells is an amazing teacher. Learning her tactile approach to technique has helped me immensely. Her class really helped me sync my mind and body and discover correct placement and a safe, rewarding way of working.
  People always try to use imagery in ballet but I have never been so free willed to have open experiments like Image Tech in class. I for sure felt myself grow technically as I have artistically. Thank you for a ballet lab and I more classes were structured like so there would be alot more openness in ballet.
  I enjoyed her class as always. Everyday I found something new to explore.
  AMAZING-thats all
  I felt her class worked as a "reset" button; I was able to reset my body and mind and have a great class.
  It took me a few days to get into Alexandra's class. This was not due to her own teaching my own inhibitions. My brain finally turned on and I was able to really absorb an immense amount of knowledge and see ballet from a new point of view which genuinely helped to center myself and continue to find a clear sense of stacking and intellect in ballet class. I was taking from a place of shape making to a place of sensation.
  Your imagery was really helpful and I liked the ballet "research" approach. Also, not using the mirrors for ballet was wonderful@
  ingenius. I have never felt so balanced and reassured in any other ballet setting
  Amazing and was able to learn so much about my body and explore different parts of MY body.
  The image tech was very helpful in allowing me to make connections between different body parts and directional energies that I had not heard before. It was a nice shift in thinking.
  Amazing teacher. Her class was incredibly helpful both physically and mentally
  A true game changer. Made me approach ballet in a much simpler and easier way
  Absolutely wonderful. Loved having a new approach to ballet and the alignment of my body
  Completely and utterly amazing. Image tech has transformed my approach to not only my body but also to the ballet technique. I am so thankful for all that Ms.Wells has taught me. I cannot wait to carry on the information during my school year.
  it felt repetitive at times but it was all so very valuable
  Truly grateful. Learned so much in 2 weeks that is extremely valuable to me.
  Alexandra is extremely knowledgeable and her metaphors and imagery helped me think of my body completely differently.

  2014
  Alexandra Wells' class:
  SO valuable, I will be using the tools I learnt from image tech forever
  so informative
  Full of yummy information. Has so much to offer; wish I had her for week three
  the most important ballet class i have ever taken. ever.
  Really useful information! Loved her! So intelligent.
  I will never take ballet class the same way again. Thank you for revolutionizing my view and experience with ballet.
  Absolutely love wells! She has given me tools that have transformed the way I dance.
  amazing, intelligent and functional ballet information.
  A very explorative class of new ideas. Image tech was interesting, and though I sometimes found it slow or difficult to use the ideas sometimes, they were overall beneficial. Alexandra helped my spirit even more than my dancing, especially after our community lunches. I felt that I could be at peace in her class without worrying whether I was 'good enough' or not. Thank you very much for your ideas.
  I absolutely loved image tech. I struggle so much in ballet, and I am super excited to apply this technique with this kind of outlook and optimism in my ballet clases at school.
  Extremely helpful for body awareness and injury prevention.
  It was the first time I had image tech, and loved the way classes focussed on our own body, I would love to have miss wells' class again!
  The image tech was extremely helpful for understanding my body. By the end of the 2 weeks I felt sensations I have never felt before. I was able to feel the ideas being given instead of just guessing where my body should be. I am so excited to bring all of this information back to ballet at my school!
  Amazing. Definitely changed the way I approach ballet all together.
  Great to have so many tools. Captivating. The pianist felt so high class, she was awesome. Enjoyed how relaxed Alexandra is.
  Exceeded all expectations I ever had on what a ballet class is capable of doing for me not only technically but also artistically. She is an infinitely inspiring person and is capable of opening up your mind in a way you never knew was possible.
  Alexandra has changed my entire view on ballet, and my own potential in the technique.
  I found the image tech very helpful and the simplicity of the exercises very conducive to implementing the concepts.
  Such an amazing teacher! I learned so much about my body from her class.
  She gave me an entirely different outlook on ballet. She's awesome.
  Absolutely enlightening and has changed how I perceive the mental and physical connection in all of dance.
  Changed the way I use my body- she educated me on how to allign myself with imagery that finallymade sense to me- SOOOO THANKFUL

  2015
  Alexandra Wells' class:
  A wonderful way to incorporate ballet technique into a very free program.
  Loved the "lab" environment for ballet.
  Wonderful, some of the best ballet classes I've taken
  She is an amazing teacher and person with so much to offer this world. Getting to take her class is a total privilege.
  It was an absolute pleasure taking her class, and I particularly appreciated a return to anatomical structure & sensorial imagery within the codified ballet technique.
  The most helpful Ballet teacher I have ever had.
  Loved ballet. Image tech was very helpful!! Nice to have a technique class with all the improv
  i appreciate the approach of image tech and am glad to have it as another tool in my belt.
  Alexandra teaches an amazing and very conceptual class. It was very helpful to have ballet because it did provide some structure to the days. The image tech was very helpful and clarified how the ballet class would proceed. Also the ideas that Alexandra presented both within class and outside of class were helpful to think about during the other sessions.
  She is completely wonderful and has a lot of information to share.
  Beautiful genius woman! Super intelligent reactionist thinker who cares so deeply about the students at MIP and the dance world as a whole. Her ballet class changed and will continue to change how i view ballet and technique.
  An amazing, Invested, and insightful teacher.
  Absolutely amazing. Such a wonderful soul to work around and invested so much in each student. I also like how she broke down ballet for the 21st century contemporary dancer. Imagery and sensation are the best ways in which to be taught (or has been my experience) so it was nice that she relied so heavily on them.
  I thought it was the perfect kind of ballet class for MIP since it was about learning about your body and exploring knew knowledge and not how fast can you move your feet.
  Wonderwoman
  Amazing
  Alexandra's class is a rewarding and extremely stimulating experience overall. Love.
  AMAZING. Every class offered new information about the ballet technique. I wish she taught everyday, or every other day throughout the program. Ms. Wells is a genius.
  Great and new way to think about ballet!
  Amazing class, really helped make sense of ballet
</pre>

</body>
</html>
