<!DOCTYPE html>
<html>
<body>

<pre>
  Name:
  Megan Callaghan

  Current location:
  New York, NY, USA

  Current position:
  Freelance artist in New York, with Empty Nave Projects. Freelance dance administrator (Director of Operations, Jody Oberfelder Projects; Administrative Associate, Jennifer Muller/The Works)

  Have you recently (within 6 months) suffered any dance injuries or experienced any specific areas of chronic pain? If so, please enumerate.
  No dance injuries, fairly chronic back and knee pain/discomfort.

  Do you feel that doing Image Tech has had any influence on these injuries or chronic pain? (If applicable)
  Yes, I always notice that when I do a full warm-up before class or rehearsal that these pains are not nearly as significant. My warm-up techniques include a lot of Image Tech elements. When I have had the pleasure of having Image Tech with Alexandra to start my dancing day I have always felt more prepared for anything that may come up.

  Aproximately how many times have you done the Image Tech pre-class technique with Ms Wells?
  Around 100? I really am not sure. I took private lessons with Alexandra for several years about once/twice a month. I have also done several summer intensives that started our day with Image Tech. I would have to guess the summer intensives included roughly 40 classes with her.

  Do you find that afterwards it makes a difference in your level of concentration in the class? (Yes or no and additional comments if you like.)
  Yes. I am always more in tune with everything happening in my body.

  Do you find that afterwards in class, you refer to its images in your mind? (Yes or no and if so, how many times and during which exercises.)
  Yes, absolutely. In every exercise there are dozens of opportunities to apply several different images.

  Do you find an improvement in your alignment and placement in class after doing Image Tech? (Yes or no and any comments if you like.)
  Yes. It starts to become a muscle memory.

  Do you find an improvement in your balances in class after doing Image? (Yes or no and any comments if you like.)
  Some days more than others -- dance is like that in you might have something one day and then lose it the next. I definitely learned about my balance every day in class after Image Tech.

  Have you experienced any other short or long-term improvements since doing Image Tech?
  My dancing has improved immensely in the years I've done Image Tech. My technique improved which allowed me to get stronger. With this new strength I was able to deepen my movement and my understanding of other techniques.

  If given the choice, would you prefer to have 15 minutes to do your own warm-up within a class or do Image Tech with all of the other students? Either way, please explain.
  I would probably prefer an Image Tech class. But as I mentioned, I often use a lot of Image Tech in my own warm-up anyway!

  Adiitional comments:

  Can't wait to see the final product!




  Name:
  Vanessa Guinto

  Current location:
  Brampton, Ontario

  Current position: (if a student, at which institution, if in a company, which one, if a freelance artist you can name the city and a few examples of your gigs)
  Student at Point Park University

  Have you recently (within 6 months) suffered any dance injuries or experienced any specific areas of chronic pain? If so, please enumerate.
  No.

  Aproximately how many times have you done the Image Tech pre-class technique with Ms Wells?

  I've only done the Image Tech pre-class with Ms Wells at Movement Invention
  Project for the first 2 weeks of the program.

  Do you find that afterwards it makes a difference in your level of concentration in the class? (Yes or no and additional comments if you like.)
  Yes. It helps you get into a mindset of awareness and it reminds you to continuously re-energize a thought process that will help you throughout the rest of class.

  Do you find that afterwards in class, you refer to its images in your mind? (Yes or no and if so, how many times and during which exercises.)
  Yes.

  Do you find an improvement in your alignment and placement in class after doing Image Tech? (Yes or no and any comments if you like.)
  Most definitely.

  Do you find an improvement in your balances in class after doing Image? (Yes or no and any comments if you like.)
  Yes yes and yes!

  Have you experienced any other short or long-term improvements since doing Image Tech?
  Short-term improvements include catching my balance once I start to lose my
  concentration. I have not experienced it long enough to comment on long-term improvement but I know that by following image tech daily, a dancer will develop the proper physicality and mentality to execute exercises in the most efficiently way possible. I can see strength, awareness, and clarity definitely becoming a long-term improvement.

  If given the choice, would you prefer to have 15 minutes to do your own warm-up within a class or do Image Tech with all of the other students? Either way, please explain.
  Personally, I would prefer to do Image Tech will all of the other students because I find it really effective when Ms. Wells teaches and explains these ideas. It also helps to have everyone on the same page.

  Any other comments are welcome and encouraged!! Thank you for taking the
  time to answer. Remember to send back the e-mail as a reply to:
  e_gaertner@videotron.ca
  Adiitional comments:

  Name Nubia

  Current location:
  Montreal, QC, Canada

  Current position: (if a student, at which institution, if in a company, which one, if a freelance artist you can name the city and a few examples of your gigs)
  Recent graduate student of Ballet Divertimento (Montreal) and university student at McGill University (Montreal).

  Have you recently (within 6 months) suffered any dance injuries or experienced any specific areas of chronic pain? If so, please enumerate.
  Yes. I slipped on ice and hurt my lower back and could not dance for one month.

  Do you feel that doing Image Tech has had any influence on these injuries or chronic pain? (If applicable)
  No, but it has influenced the way I usually move; so that I can prevent further injury.

  Aproximately how many times have you done the Image Tech pre-class technique with Ms Wells?
  10 times.

  Do you find that afterwards it makes a difference in your level of concentration in the class? (Yes or no and additional comments if you like.)
  It has made a difference in the level of awareness I have of my body, so yes.

  Do you find that afterwards in class, you refer to its images in your mind? (Yes or no and if so, how many times and during which exercises.)
  Yes. Even though I have now finished M.I.P's three week intensive, now that I have this knowledge, I need to use it because it is so helpful to my body.

  Do you find an improvement in your alignment and placement in class after doing Image Tech? (Yes or no and any comments if you like.)
  Yes, because I am conscious of what, when, and where my body is or should be.

  Do you find an improvement in your balances in class after doing Image? (Yes or no and any comments if you like.)
  Definitely! One image Ms. Wells gave about sending energy in and out through the floor when in a coupé front, was revolutionary for me.

  Have you experienced any other short or long-term improvements since doing Image Tech?
  My quadriceps don't grip as much and that is great considering I use them way too much. My body can now know how to be engaged but not tense at the same time.

  If given the choice, would you prefer to have 15 minutes to do your own warm-up within a class or do Image Tech with all of the other students? Either way, please explain.
  I would choose to do image tech because it wakes up the different parts in my body that my usual warm up doesn't always do. Also, it helps me feel well placed before starting class, rather than my muscles being warm, but can't efficiently use them because I haven't yet found my center.

  Any other comments are welcome and encouraged!! Thank you for taking the time to answer. Remember to send back the e-mail as a reply to:
  e_gaertner@videotron.ca
  Adiitional comments:

  Name:
  Alyssa

  Current location:
  Toronto, Canada

  Current position: (if a student, at which institution, if in a company, which one, if a freelance artist you can name the city and a few examples of your gigs)
  Artistic Director, Choreographer & Founder - Rock Bottom Movement
  2013 BFA Graduate - Ryerson University

  Have you recently (within 6 months) suffered any dance injuries or experienced any specific areas of chronic pain? If so, please enumerate.
  No

  Do you feel that doing Image Tech has had any influence on these injuries or chronic pain? (If applicable)

  Aproximately how many times have you done the Image Tech pre-class technique with Ms Wells?
  4-6 times

  Do you find that afterwards it makes a difference in your level of concentration in the class? (Yes or no and additional comments if you like.)
  Yes, I was able to simplify the (sometimes self defeating) "inner-monologue" that often ran through my head during ballet classes).

  Do you find that afterwards in class, you refer to its images in your mind? (Yes or no and if so, how many times and during which exercises.)
  I found myself scanning through all the images during the barre and then choosing one or two for each centre exercise and assessing which worked best for me (ex. the use of the "unders" in Adage , or the use of the visceral sphere in pirouettes)

  Do you find an improvement in your alignment and placement in class after doing Image Tech? (Yes or no and any comments if you like.)
  Yes, Image Tech helped me move away from tucking my pelvis and rocking forward on my feet (as I was sometimes trained that way in the past). It also helped me correct the debilitating breath patterns I had developed in an attempt to hold my centre.)

  Do you find an improvement in your balances in class after doing Image? (Yes or no and any comments if you like.)
  Yes, I found the focus on the ears and top of the head very helpful in balancing.

  Have you experienced any other short or long-term improvements since doing Image Tech?
  I'm still actively implementing the image tech into my warm ups and my personal practice, slowly improving as I take the concepts into motion.

  If given the choice, would you prefer to have 15 minutes to do your own warm-up within a class or do Image Tech with all of the other students? Either way, please explain.
  Image Tech helps me get into my body before a ballet class so I would prefer to do Image Tech, especially if the class were a ballet class. If it were a more contemporary or improvisational-ly structured class I would probably prefer to incorporate the image tech concepts into my own warm up from an introspective place.


  Name: Austin Sora

  Current location: New York, NY
  Current position:
  Recent graduate of Marymount Manhattan College
  Apprentice with Buglisi Dance Theatre
  Have you recently (within 6 months) suffered any dance injuries or experienced any specific areas of chronic pain? If so, please enumerate.
  No.
  Do you feel that doing Image Tech has had any influence on these injuries or chronic pain? (If applicable)
  N/A
  Approximately how many times have you done the Image Tech pre-class technique with Ms Wells?
  4-5
  Do you find that afterwards it makes a difference in your level of concentration in the class? (Yes or no and additional comments if you like.)
  Yes. I felt concentrated in a different way because I was applying new ideas to familiar concepts.
  Do you find that afterwards in class, you refer to its images in your mind? (Yes or no and if so, how many times and during which exercises.)
  Yes, specifically in any releve position, every time.
  Do you find an improvement in your alignment and placement in class after doing Image Tech? (Yes or no and any comments if you like.)
  Yes. I notice an engagement in my core that lengthens both upward and downward.

  Do you find an improvement in your balances in class after doing Image? (Yes or no and any comments if you like.)
  Yes.
  Have you experienced any other short or long-term improvements since doing Image Tech?
  Most notably a clearer sense of alignment and balance.
  If given the choice, would you prefer to have 15 minutes to do your own warm-up within a class or do Image Tech with all of the other students? Either way, please explain.
  I would love to do Image Tech as a warm-up, but in addition to my own warm-up routine. Image Tech is very successful in increasing my anatomical awareness, but I also like to get the blood flowing a little bit more before class, so a combination of the two would be ideal.

  Additional Comments:
  Although I have only done the Image Tech pre-class a handful of times, I feel that through the repetition and clear explanation, it is something that has really stuck with me. I can use the imagery at any point because it is so easily accessible and once it is in my consciousness, the results are immediate. If I were to have the Image Tech pre-class on a more regular basis, I could foresee the concepts becoming a part of my muscle memory, and my body would use its own kinesthetic intelligence to align and connect itself.


  Name Jenni Berthelot

  Current location:
  New York, NY, USA

  Current position: (if a student, at which institution, if in a company, which one, if a freelance artist you can name the city and a few examples of your gigs)
  Freelance artist in NYC, dancing primarily with chuthis. dance company.

  Have you recently (within 6 months) suffered any dance injuries or experienced any specific areas of chronic pain? If so, please enumerate.
  I have two areas of chronic pain. One is a hip/back combination that is usually kept under control through massage therapy, and the other is a foot injury that I had surgery on in late December 2012.

  Do you feel that doing Image Tech has had any influence on these injuries or chronic pain? (If applicable)
  Yes, absolutely. By setting myself up with Image Tech before class, I am able to attain proper alignment and reduce pain in my hip and back. The Image Tech work has allowed me to access muscle groups that I previously did not know how to access, making me both stronger and generally more pain-free.

  Aproximately how many times have you done the Image Tech pre-class technique with Ms Wells?
  Approximately 70-80 times. I have worked with her at both MIP and Springboard, as well as privately for the past two years.

  Do you find that afterwards it makes a difference in your level of concentration in the class? (Yes or no and additional comments if you like.)
  Yes. I find that doing Image Tech before class centers both my mind and my body, resulting in a more focused and successful class. The specific imagery that Alexandra uses coordinates my mind/body connection and wakes up the physical directionality that is required for a ballet class.

  Do you find that afterwards in class, you refer to its images in your mind? (Yes or no and if so, how many times and during which exercises.)
  Yes, I refer to the images throughout most exercises in class afterwards. I find the images to be particularly helpful in exercises that require a good deal of balance control, such as adagio.

  Do you find an improvement in your alignment and placement in class after doing Image Tech? (Yes or no and any comments if you like.)
  YES. For me, this is the biggest takeaway of Image Tech. After Image Tech, I feel so aligned that I am able to access much more length, turnout, and extension in my body than I am able to otherwise. Finding this alignment frees my body in all the right places, and setting up my "directions" kicks in the musculature needed to support this alignment throughout a class.

  Do you find an improvement in your balances in class after doing Image? (Yes or no and any comments if you like.)
  Yes. After doing Image Tech, I am able to fire the muscles that I need to find and control my balance much more quickly because we have set up this coordination.

  Have you experienced any other short or long-term improvements since doing Image Tech?
  Yes. I have experienced many long-term improvements since doing Image Tech, such as better control of my extension and turn-out. The largest improvement that I have gained from Image Tech is control and muscularity that I did not have before. I believe that I will continue to have improvement after improvement with Image Tech as my body continues to learn, change, and adjust.

  If given the choice, would you prefer to have 15 minutes to do your own warm-up within a class or do Image Tech with all of the other students? Either way, please explain.
  I would prefer to do Image Tech before class any day. Alexandra's images really work for me and my body and set me up for a successful class. I find that after doing Image Tech, I get much more out of a class because I don't have to struggle to find proper alignment and placement: we've already done that.


  Terra Kell  Tucson, AZ  Student at the University of Arizona  I have tendonitis in the flexor halucis longus of both feet  I didn't feel Image Tech really affected my tendonitis because we didn't really focus on the feet. But Ms Wells gave me an image to work with on my own to help with so I'll give that a try  Approx. 5 times  Starting off in the center and going through the different Image Tech ideas helps me focus and get my body centred and ready for class  Yes I refer to the images in almost every exercise  Yes I found improvement in alignment and placement  " " balances  my balance really improved and my pirouettes  I felt that we were able to cover the basic image tech principles in the classes where we didin't have the extra 15 minutes so I would rather have my own time in the morning and everyone start at the same time

  Name Claudia Germuga

  Current location:
  New York, USA

  Current position: (if a student, at which institution, if in a company, which one, if a freelance artist you can name the city and a few examples of your gigs)
  NYU Tisch School of the Arts graduate, freelance artist in New York City

  Have you recently (within 6 months) suffered any dance injuries or experienced any specific areas of chronic pain? If so, please enumerate.
  No

  Do you feel that doing Image Tech has had any influence on these injuries or chronic pain? (If applicable)
  N/a

  Aproximately how many times have you done the Image Tech pre-class technique with Ms Wells?
  8

  Do you find that afterwards it makes a difference in your level of concentration in the class? (Yes or no and additional comments if you like.)
  Yes

  Do you find that afterwards in class, you refer to its images in your mind? (Yes or no and if so, how many times and during which exercises.)
  Yes, it establishes a particular imagery that you can reference throughout any exercise or especially before you execute a combination. In class you usually establish a game plan for every combination you execute, you have to have your tools and knowledge ready to adjust and adapt and do your best to perform the combination to the best of your abilities. Ms wells image tech just provides a very relevant and unique set of tools that are easily accessible (especially for contemporary dancers) in such situations.

  Do you find an improvement in your alignment and placement in class after doing Image Tech? (Yes or no and any comments if you like.)
  Yes... Grounding. Ballet, and it's idyllic positions and deep sense of perfectionism can be anxiety provoking. It's easy to approach it with the wrong energy at times. I find image tech helps me to let go of the pressure I put on myself during ballet, and helps me approach it from a much more functional and healthier place (both mind and body). It's not about nailing it, or maximizing a step or position, but rather about the quality of movement and sensibility of the position.

  Do you find an improvement in your balances in class after doing Image? (Yes or no and any comments if you like.)
  YES! I've never been able to balance because I try to muscle things. Ms wells image tech has allowed me to access MOVEMENT in my balances... For the first time I have found that if you can access certain movement coordinations within the balance, you'll stay calmly on your leg. It doesn't have the be te most extreme form of the position to be successful. I think it's allowed me for the first time to define success from the inside out rather than the outside in (as in the aesthetic of the position has usually determined the success off balance). It's always been about how the exterior of the balance wasn't good enough to support the balance, rather than a lack of Internal coordination.

  Have you experienced any other short or long-term improvements since doing Image Tech?
  I used it before an audition this past weekend in favor of my usual warm-up. I think it served me , helpings to find my alignment, groundedness, and positive mindset pre-audition. I think it's comprehensive, and therefore efficient.

  If given the choice, would you prefer to have 15 minutes to do your own warm-up within a class or do Image Tech with all of the other students? Either way, please explain.
  Image tech. Too often training becomes a solitary act and at times I dare to even say selfish. In this way we fail to put in to practice fundamental aspects of performance...such as dancing with others, connecting to the space you're dancing in.

  Any other comments are welcome and encouraged!! Thank you for taking the time to answer. Remember to send back the e-mail as a reply to:
  e_gaertner@videotron.ca
  Adiitional comments:



  Name Samantha Parsons

  Current location:
  Queens, NY

  Current position: (if a student, at which institution, if in a company, which one, if a freelance artist you can name the city and a few examples of your gigs)
  Healthcare administrator and freelance tango dancer. Graduated from NYU Tisch BFA program in 2012.

  Have you recently (within 6 months) suffered any dance injuries or experienced any specific areas of chronic pain? If so, please enumerate.
  No.

  Do you feel that doing Image Tech has had any influence on these injuries or chronic pain? (If applicable)
  I absolutely credit Image Tech with my overall lack of significant injuries during my dance career. Ms. Wells's exercises train the body and mind for both optimal muscle recruitment and proper alignment, creating healthy movement habits to rely on. The more I have done Image Tech, the less I've had to worry about injury, giving me a fuller freedom expression in my dancing. As a tango dancer, I can say with 100% confidence that I would not be able to dance for hours and hours in high heels if it weren't for Image Tech.


  Aproximately how many times have you done the Image Tech pre-class technique with Ms Wells?
  Having worked as a private student with Ms. Wells for several years, I have practiced Image Tech countless times.

  Do you find that afterwards it makes a difference in your level of concentration in the class? (Yes or no and additional comments if you like.)
  Absolutely. Doing Image Tech is like doing your homework. When I have done Image Tech before a class, I'm able to focus on artistry more, and body mechanics less. I also find that I pick up material much faster.


  Do you find that afterwards in class, you refer to its images in your mind? (Yes or no and if so, how many times and during which exercises.)
  Yes! If I am having trouble with a particular movement, or if something isn't feeling quite right, I'll try out an image from Image Tech to see if it applies to the problem at hand.

  Do you find an improvement in your alignment and placement in class after doing Image Tech? (Yes or no and any comments if you like.)
  Yes. I always feel taller, grounded, and more coordinated.


  Do you find an improvement in your balances in class after doing Image? (Yes or no and any comments if you like.)
  Yes. I am more in tune with my own verticality.

  Have you experienced any other short or long-term improvements since doing Image Tech?
  Image Tech helped me understand how my body worked. I learned what my particular strengths and weaknesses were naturally, and how to work around them or integrate them into my dancing.

  If given the choice, would you prefer to have 15 minutes to do your own warm-up within a class or do Image Tech with all of the other students? Either way, please explain.
  I would prefer doing Image Tech with other students. Over time, I've learned that I often simply do not have the discipline to warm myself up thoroughly, or I'll simply do exercises that I'm good at, while rushing through or skipping the the things I really need to work on. An Image Tech warmup is usually far more comprehensive than a warm-up I would do on my own.
</pre>

</body>
</html>
